<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Reportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal" *ngIf="customers$ | async; else loading">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->

  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher> -->

  <div class="top-item">
    <ion-item lines="none">
      <div slot='start' class="left-section">
        <p>Balance del día</p>
        <h1>{{(totalRecaudado - gastosDelDia) | currency :'$':'symbol':'1.0-2'}}</h1>
      </div>
      <!-- <div slot='end' class="right-section">
        <p id="up"> <img src="assets/imgs/Up.svg" alt=""> &nbsp;$3,214</p>
        <p id="down"> <img src="assets/imgs/Down.svg" alt=""> &nbsp;$3,214</p>
      </div> -->
    </ion-item>
  </div>

  <div class="statics">
    <ion-row>
      <ion-col text-left>
        <ion-item lines="none">
          <div class="thumb" slot="start" style="margin-right: 12px;" >
            <img src="assets/imgs/Up1.svg" alt="">
          </div>
          <ion-label>
            <p>Recaudo</p>
            <h3>{{totalRecaudado | currency :'$':'symbol':'1.0-2'}}</h3>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col text-left>
        <ion-item lines="none">
          <div class="thumb" slot="start" style="margin-right: 12px;" >
            <img src="assets/imgs/Down1.svg" alt="">
          </div>
          <ion-label>
            <p>Gastos</p>
            <h3>{{gastosDelDia | currency :'$':'symbol':'1.0-2'}}</h3>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>

  <div class="top-card absolute ion-text-center ion-padding-vertical">
    <ion-row class="top-row">
      <ion-col size="auto" class="ion-text-left">
        <!-- <p>Resumen <strong> </strong></p> -->
      </ion-col>
      <ion-col class="ion-text-right" id="right-col">
        <!-- <p class="ion-text-capitalize">sdf<strong>asdasd</strong></p> -->
      </ion-col>
    </ion-row>

    <ngx-gauge  [type]="gaugeType"  [value]="totalRecaudado"  [label]="totalRecaudar | currency:'$' : 'symbol' : '1.0-0'"  [append]="gaugeAppendText" [max]='totalRecaudar' 
     foregroundColor="rgb(0, 71, 204)">
    </ngx-gauge>

    <div class="guage-top-content absolute ion-text-center">
      <img src="assets/imgs/send.svg" alt="">
      <p>Total recaudado</p>
    </div>
    <div class="precentage-row">
      <ion-row>
        <ion-col class="col-left ion-text-left">
          <!-- <p>0%</p> -->
        </ion-col>
        <ion-col class="col-right ion-text-right">
          <!-- <p>100%</p> -->
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="statics" style="margin-top: 242px;">
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <div class="thumb" slot="start" style="margin-right: 12px;" >
            <img src="assets/imgs/chartsmall.svg" alt="">
          </div>
          <ion-label>
            <p>Clientes Activos</p>
            <h3>{{totalClientesActivos}} &nbsp;</h3>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>

  <div class="bottom-section" *ngIf="customers$ | async; else loading; let customers">

    <div class="divider-report">
      Resumen del mes FEBRERO 2021
    </div>

    <!-- <ion-row>
      <ion-col class="btns-holder-1">
        <ion-button expand="block">
          Clientes Activos
        </ion-button>
      </ion-col>
      <ion-col class="btns-holder-2">
        <ion-button expand="block">
          {{totalClientesActivos}} &nbsp;
        </ion-button>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col>
        <ion-item lines="none" (click)="goReportePrestamosNuevos()">
          <div class="thumb" slot="start" style="margin-right: 12px;" >
            <img src="assets/imgs/category-icons/send.svg" alt="">
          </div>
          <ion-label>
            <p>Préstamos Nuevos</p>
            <h3>   {{montoPrestamosNuevos | currency :'$':'symbol':'1.2-2'}}  &nbsp;</h3>
            <h6>Cantidad: {{cantidadPrestamosNuevos}} &nbsp;</h6>
          </ion-label>
          <ion-icon color="medium" slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none" (click)="goReportePrestamosPagados()">
          <div class="thumb" slot="start" style="margin-right: 12px;" >
            <img src="assets/imgs/category-icons/request.svg" alt="">
          </div>
          <ion-label>
            <p>Préstamos Pagados</p>
            <h3> {{montoPrestamosPagados | currency :'$':'symbol':'1.2-2'}} &nbsp;</h3>
            <h6>Cantidad: {{calcularPrestamosPagados}}  &nbsp;</h6>
          </ion-label>
          <ion-icon color="medium" slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none" (click)="goReporteGastos()">
          <div class="thumb" slot="start" style="margin-right: 12px;" >
            <img src="assets/imgs/category-icons/addexpense.svg" alt="">
          </div>
          <ion-label>
            <p>Gastos del mes</p>
            <h3> {{montoTotalGastos | currency :'$':'symbol':'1.2-2'}} &nbsp;</h3>
            <h6>Cantidad: {{montoTotalGastos}}  &nbsp;</h6>
          </ion-label>
          <ion-icon color="medium" slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none" (click)="goReportePrestamosSaldoPendiente()">
          <div class="thumb" slot="start" style="margin-right: 12px;" >
            <img src="assets/imgs/bill1.svg" alt="">
          </div>
          <ion-label>
            <p>Saldo total por recaudar</p>
            <h3> {{totalSaldo | currency :'$':'symbol':'1.2-2'}}   &nbsp;</h3>
            <h6> Total monto pendiente por cobrar. &nbsp;</h6>
          </ion-label>
          <ion-icon color="medium"  slot="end" name="chevron-forward-outline"></ion-icon> 
        </ion-item>
      </ion-col>
    </ion-row>

  </div>

</ion-content>

<ng-template #loading>
  <ion-progress-bar color="secondary" type="indeterminate"></ion-progress-bar>
  <app-skeleton></app-skeleton>
</ng-template>