<ion-header>
  <ion-toolbar>
    <ion-title>Verificación </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user$ | async as user">
  <ion-row>
    <ion-col>
      <h2>Gracias por registrarte!</h2>
      <p>Hemos enviado un correo electrónico de confirmación a <strong>{{user.email}}</strong></p>
      <p>Entre a su correo electrónico y haga clic en el enlace para verificar su dirección de correo electrónico.</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button type="submit" color="primary" expand="block" (click)="onSendEmail()">
        Reenviar el correo de verificación</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <p class="ion-text-center">
        <a routerLink="/login">Ir a Iniciar Sesión</a>
      </p>
    </ion-col>
  </ion-row>
</ion-content>