ion-content 
{
    .holder
    {
        width: 100%;

        .btns-holder
        {
            margin-top: 40px;
            
            ion-button 
            {
                --border-color: rgba(119, 134, 158, 0.39);
                --border-style: solid;
                --border-width: 1px;
                height: 3rem !important;
                width: 100% !important;
            }

            p {
                color: #77869E !important;
                font-family: "AvenirR" !important;
                font-size: 0.9rem !important;
            }
        }

        
    }
}
