
.section
{
    margin: 10px 0 !important;
    
    .section-title
    {
        h4{

            color: #C1C7D0 !important;
            margin-bottom: 0px;
            margin-top: 0px;
            font-size: 16px;

            strong {
                color: #002251 !important;
            }
        }

        
    }


}

.customer-name {
    color: #002251 !important;
    font-family: "AvenirM" !important;
}