<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Cargar Gasto</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="dismissModal()">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form  class="new-expense-page"
  [formGroup]="expenseForm" 
  (ngSubmit)="createExpense(expenseForm.value)">
    <ion-list-header class="ios hydrated">
      Información del Gasto
    </ion-list-header>

    <ion-item>
      <!-- <ion-label position="floating" color="primary">Concepto: </ion-label> -->

      <ion-label>Concepto</ion-label>
      <ion-select formControlName="concept" placeholder="Seleccionar">
        <ion-select-option value="Gasolina">Gasolina</ion-select-option>
        <ion-select-option value="Almuerzo">Almuerzo</ion-select-option>
        <ion-select-option value="Recarga Celular">Recarga Celular</ion-select-option>
        <ion-select-option value="Pago de Nomina">Pago de Nomina</ion-select-option>
        <ion-select-option value="Taller">Taller</ion-select-option>
        <ion-select-option value="Otros">Otros</ion-select-option>
      </ion-select>
      

      <!-- <ion-input type="text"  formControlName="concept"></ion-input> -->
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.concept">
        <div class="error-message ion-padding-start" *ngIf="expenseForm.get('concept').hasError(validation.type) && (expenseForm.get('concept').dirty || expenseForm.get('concept').touched)">
          {{validation.message}} 
        </div>
      </ng-container>
    </div>
  
    <ion-item>
      <ion-label position="floating" color="primary">Monto: </ion-label>
      <ion-input type="number"  formControlName="amount"></ion-input>
      <ion-icon size="small" name="cash-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.amount">
        <div class="error-message ion-padding-start" *ngIf="expenseForm.get('amount').hasError(validation.type) && (expenseForm.get('amount').dirty || expenseForm.get('amount').touched)">
          {{validation.message}}
        </div>
      </ng-container>
    </div>
  
    <ion-item>
      <ion-label position="floating" color="primary">Descripción: </ion-label>
      <ion-input type="text"  formControlName="description"></ion-input>
      <ion-icon size="small" name="reader-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
    </ion-item>

    <div class="ion-text-center">
      <ion-button [disabled]="expenseForm.invalid" fill="outline" expand="round" type="submit">Guardar</ion-button>
    </div>
  
  </form>
</ion-content>



 