

ion-toolbar {
    --border-width: 0;
    --background: #0047CC !important;
    --color: white !important;

}

ion-content{
    --background: #e6e6e6!important;
}

 
.new-expense-page {

    margin-left: 12px;
    margin-right: 12px;
    --background: #e6e6e6!important;
    
    .validation-errors {
        .error-message {
            color: var(--ion-color-danger);
            font-size: 14px;
        }
    }

    ion-list-header {
        color: #77869E !important;
        font-family: "AvenirR" !important;
        font-size: 14px;
    }
}

 
.bottom-section
{
    margin-top: 10px;
    .btns-holder 
    {
        margin-top: 10px;
        padding: 8px 16px;
        ion-button
        {
            --background: #ffffff;
            --border-radius: 12px !important;
            --box-shadow: none;
            --color: #0047cc;
            height: 50px !important;
        }
    }
}