
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Mi Ruta</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="showOptions()" fill="clear">
        <ion-icon slot="end" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ng-container *ngIf="customers$ | async; else loading; let customers">

    <div class="background-holder">

    </div>
    <div class="top-card absolute ion-text-center ion-padding-vertical">
      <ion-row class="top-row">
        <ion-col size="auto" class="ion-text-left">
          <p>Resumen <strong> </strong></p>
        </ion-col>
        <ion-col class="ion-text-right" id="right-col">
          <p class="ion-text-capitalize">{{dayName}} <strong>{{dayToday | date:'dd/MM/yyyy'}} </strong></p>
        </ion-col>
      </ion-row>
      <ngx-gauge [max]='totalRecaudar' [type]="gaugeType" size="250" [value]="totalRecaudado" [label]="totalRecaudar | currency:'$' : 'symbol' : '1.0-0'" [prepend]="gaugePrependText"
        thick="12" cap="round" foregroundColor="rgb(0, 71, 204)">
  
      </ngx-gauge>
  
      <div class="guage-top-content absolute ion-text-center">
        <img src="assets/imgs/Walleta.svg" alt="">
        <p>Total recaudado</p>
      </div>
      <div class="precentage-row">
        <ion-row>
          <ion-col class="col-left ion-text-left">
            <p>0%</p>
          </ion-col>
          <ion-col class="col-right ion-text-right">
            <p>100%</p>
          </ion-col>
        </ion-row>
      </div>
    </div>
  
    <div class="bottom-section ">
      <ion-row class="btns-holder">
      </ion-row>
  
      <div class="details">
        <!-- <div style="margin-top: 10px"  class="the-title ion-padding-horizontal">
          <h3>Clientes</h3>
        </div>
        -->
        <div class="list-holder ion-padding-horizontal">
          <div class="the-list">

            <ion-item-sliding  *ngFor="let customer of customers" [ngClass]="customer.reference && customer.reference === 'pasiva' ? 'pasiva' : ''" >
              <ion-item lines="none" *ngIf="customer && customer.sale" (click)="goSaleDetail(customer.sale)" [ngClass]="today > customer.sale.vencimiento ? 'warning-border' : ''" >
                <div class="thumb" slot="start" class="ion-text-center"  >

                  <div style="width: 57px;" *ngIf="customer.sale.abonos[customer.sale.abonos.length - 1]
                    && (customer.sale.abonos[customer.sale.abonos.length - 1].createdAt != today) 
                    || (!customer.sale.abonos[0])">
                    <ion-icon name="shield-outline" style="font-size: 25px;"></ion-icon>
                    <p class="avatar-text">Sin Cargar</p>
                  </div>

                  <div style="width: 57px;" *ngIf="customer.sale.abonos[customer.sale.abonos.length - 1]  
                    && (customer.sale.abonos[customer.sale.abonos.length - 1].createdAt == today)
                    && (customer.sale.abonos[customer.sale.abonos.length - 1].monto > 0)">
                    <ion-icon color="success"  style="font-size: 25px;"  name="shield-checkmark-outline"></ion-icon>
                    <p  color="success"  class="avatar-text">Abonado</p>
                  </div>
                  
                  <div style="width: 57px;" *ngIf="customer.sale.abonos[customer.sale.abonos.length - 1] 
                    && (customer.sale.abonos[customer.sale.abonos.length - 1].createdAt == today)
                    && (customer.sale.abonos[customer.sale.abonos.length - 1].monto == 0)">
                    <ion-icon color="danger"  style="font-size: 25px;"  name="shield-outline"></ion-icon>
                    <p class="avatar-text">No abonado</p>
                  </div>

                </div>
                <ion-label>
                  <h4 class="ion-text-wrap">{{ customer.name }} {{ customer.lastName }} <strong style="color: red!important" *ngIf="customer.reference && customer.reference === 'pasiva'">- Pasiva</strong> </h4>
                  <p class="ion-text-wrap">Saldo Pendiente: {{customer.sale.saldo | currency:'$' : 'symbol' : '1.0-0'}} </p>
                  <!-- <p class="less-important">Creado el : {{customer.sale.createdAt | date:'dd/MM/yyyy'}}</p> -->
                  <p *ngIf="today <= customer.sale.vencimiento" class="less-important">Vence el : {{customer.sale.vencimiento | date:'dd/MM/yyyy'}}</p>
                  <p *ngIf="today > customer.sale.vencimiento" class="less-important" style="color:red!important">Vencido el: {{customer.sale.vencimiento | date:'dd/MM/yyyy' }}</p>
                  <p *ngIf="customer.sale.abonos && customer.sale.abonos.length  > 0 && customer.sale.abonos[customer.sale.abonos.length - 1].createdAt == today"  class="less-important">Abono del día: {{customer.sale.abonos[customer.sale.abonos.length - 1].monto | currency:'$' : 'symbol' : '1.0-0'}}</p>
                </ion-label>
                <div slot="end">
                  <h5 class="ion-text-center">{{customer.sale.cuotasPendientes | number: '1.0-1'}}</h5>
                  <p class="pending-text ion-text-center" class="cuotas-pendiente">Cuotas</p>
                  <p class="pending-text ion-text-center" class="cuotas-pendiente">Pendiente</p>
                </div>
              </ion-item>

              <ion-item-options>
                <ion-item-option (click)="agregarAbono(customer.sale, 0)" color="danger" style="border-radius: 5px;">
                  <ion-icon slot="bottom" name="close-circle-outline"></ion-icon>
                  No Abonado
                </ion-item-option>
                <ion-item-option (click)="agregarAbono(customer.sale, customer.sale.montoCuota)" color="secondary" style="border-radius: 5px;">
                  <ion-icon slot="bottom" name="cash"></ion-icon>
                  Abonar
                </ion-item-option>
              </ion-item-options>

            </ion-item-sliding>

          </div>
        </div>
       
      </div>
    </div>

    <ion-item-divider *ngIf="isAdmin">
      <ion-label>
        Total Saldo: {{totalSaldo | currency :'$':'symbol':'1.2-2'}}  
      </ion-label>
    </ion-item-divider>
    
  </ng-container>

  <!-- <ion-item-divider *ngIf="customers$ | async">
    <ion-label>
      Total Recaudado: {{totalRecaudado | currency :'$':'symbol':'1.2-2'}}  
    </ion-label>
  </ion-item-divider> -->

  
  <!-- <ion-fab *ngIf="roleAutorization.canCreateSale(authSvc.getLoggedUser())" (click)="goNewSale()" style="padding-bottom: 40px;padding-right: 10px;"  vertical="bottom" horizontal="end" edge slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>  -->

</ion-content>

<ng-template #loading>
  <ion-progress-bar color="secondary" type="indeterminate"></ion-progress-bar>
  <app-skeleton></app-skeleton>
</ng-template>