
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Mi Ruta</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="showOptions()" fill="clear">
        <ion-icon slot="end" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="customers$ | async; else loading; let customers">

    <div class="background-holder">

    </div>
    <div class="top-card absolute ion-text-center ion-padding-vertical">
      <ion-row class="top-row">
        <ion-col size="auto" class="ion-text-left">
          <p>Resumen de <strong> recaudo </strong></p>
        </ion-col>
        <ion-col class="ion-text-right" id="right-col">
          <p>{{today}}</p>
        </ion-col>
      </ion-row>
      <ngx-gauge [type]="gaugeType" size="250" [value]="totalRecaudado" [label]=" 'de $' + totalRecaudar" [prepend]="gaugePrependText"
        thick="12" cap="round" foregroundColor="rgb(0, 71, 204)">
  
      </ngx-gauge>
  
      <div class="guage-top-content absolute ion-text-center">
        <img src="assets/imgs/Walleta.svg" alt="">
        <p>Total recaudado</p>
      </div>
      <div class="precentage-row">
        <ion-row>
          <ion-col class="col-left ion-text-left">
            <p>0%</p>
          </ion-col>
          <ion-col class="col-right ion-text-right">
            <p>100%</p>
          </ion-col>
        </ion-row>
      </div>
  
    </div>
  
  
    <div class="bottom-section ">
  
    </div>
    
      <ion-item-sliding  *ngFor="let customer of customers">
          <ng-container>
            <ion-item *ngIf="customer && customer.sale" (click)="goSaleDetail(customer.sale)">

              <ion-avatar>
                <ion-icon *ngIf="customer.sale.abonos[customer.sale.abonos.length - 1] 
                                            && (customer.sale.abonos[customer.sale.abonos.length - 1].createdAt != today) 
                                            || (!customer.sale.abonos[0])" name="shield-outline"></ion-icon>
  
                <ion-icon color="success" *ngIf="customer.sale.abonos[customer.sale.abonos.length - 1] 
                                            && (customer.sale.abonos[customer.sale.abonos.length - 1].createdAt == today)
                                            && (customer.sale.abonos[customer.sale.abonos.length - 1].monto > 0)" name="shield-checkmark-outline"></ion-icon>
                <ion-icon color="danger" *ngIf="customer.sale.abonos[customer.sale.abonos.length - 1] 
                                            && (customer.sale.abonos[customer.sale.abonos.length - 1].createdAt == today)
                                            && (customer.sale.abonos[customer.sale.abonos.length - 1].monto == 0)" name="shield-outline"></ion-icon>
              </ion-avatar>
      
              <ion-label style="margin-left: 12px;">
                <ion-text>
                  <h3>{{ customer.name }} {{ customer.lastName }}</h3>
                </ion-text>
        
              <h3 *ngIf="customer && customer.sale">Saldo Pendiente: {{customer.sale.saldo | currency:'$' : 'symbol' : '1.0-0'}}</h3>
              <h3 *ngIf="customer && customer.sale">Cuotas Pendientes: {{customer.sale.cuotasPendientes | number}}</h3>
              <!-- <h3 *ngIf="customer.sale[0].abonos[customer.sale[0].abonos.length - 1] && customer.sale[0].abonos[customer.sale[0].abonos.length - 1].createdAt" >{{customer.sale[0].abonos[customer.sale[0].abonos.length - 1].createdAt}}</h3>
              <h3>{{today}}</h3> -->
              </ion-label>
              <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
              <!-- <ion-button  fill="outline" slot="end">Ver &nbsp; <ion-icon name="eye-outline"> </ion-icon> </ion-button> -->
            </ion-item>
          </ng-container>
        </ion-item-sliding>
  </ng-container>

  <ion-item-divider *ngIf="customers$ | async">
    <ion-label>
      Total Recaudado: {{totalRecaudado | currency :'$':'symbol':'1.2-2'}}  
    </ion-label>
  </ion-item-divider>

  <ion-item-divider *ngIf="isAdmin && customers$ | async">
    <ion-label>
      Total Saldo: {{totalSaldo | currency :'$':'symbol':'1.2-2'}}  
    </ion-label>
  </ion-item-divider>
  
 <ion-fab *ngIf="roleAutorization.canCreateSale(authSvc.getLoggedUser())" (click)="goNewSale()" style="padding-bottom: 40px;padding-right: 10px;"  vertical="bottom" horizontal="end" edge slot="fixed">
  <ion-fab-button color="secondary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>

<ng-template #loading>
  <ion-progress-bar color="secondary" type="indeterminate"></ion-progress-bar>
  <app-skeleton></app-skeleton>
</ng-template>