<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="the-content">
    <div class="the-title">
      <h2>Recuperar contraseña</h2>
    </div>
    <ion-grid style="height: 100%">
      <ion-row class="ion-justify-content-center ion-align-items-center " style="height: 100%">
        <div class="holder">
          <form [formGroup]="signupForm" (ngSubmit)="onResetPassword(signupForm.value)">
            <div class="details">

              <div class="detail-item">
                <ion-label>Correo</ion-label>
                <ion-item>
                  <span class="icn-holder" slot="end" *ngIf="!signupForm.get('email').invalid">
                    <ion-icon name="checkmark-circle"></ion-icon>
                  </span>
                  <ion-input formControlName="email" class="email" placeholder="Ingresar correo" type="email">
                  </ion-input>
                </ion-item>

                <div class="error-messages">
                  <ng-container *ngFor="let error of error_messages.email">
                    <div class="error-message"
                      *ngIf="signupForm.get('email').hasError(error.type) && (signupForm.get('email').dirty || signupForm.get('email').touched)">
                      {{error.message}}
                    </div>
                  </ng-container>
                </div>
              </div>

              <ion-label>{{message}}</ion-label>


            </div>
            <div class="btn-holder ion-padding-top" *ngIf="!message">
              <ion-button expand="block" type="submit" routerDirection="root" [disabled]="signupForm.invalid">
                Restabler contraseña
              </ion-button>
            </div>

            <div class="btn-holder ion-padding-top" *ngIf="message">
              <ion-button expand="block" (click)="goSignup()"   [disabled]="signupForm.invalid">
                Ir a Iniciar Sesion
              </ion-button>
            </div>

          </form>
        </div>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>