<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Correo: </ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="onResetPassword(email)" expand="block">Restabler contraseña</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>