ion-toolbar {
    --border-width: 0;
    --background: #0047CC !important;
    --color: white !important;

}

ion-content{
    --background: #F8F9F9!important;
}

.background-holder
{
    background: #0047CC;
    height: 35%;
    border-bottom-right-radius: 40px;
}

.top-card
{
    background: white;
    border-radius: 12px;
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.08);
    width: 85%;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    margin-left: auto;
    margin-right: auto;

    .img-holder
    {
        ion-avatar{
            margin-left: auto;
            margin-right: auto;
            --border-radius:12px;
        }
    }

    .details
    {
        h5
        {
            color: #042C5C !important;
            font-family: 'AvenirH' !important;
        }

        p
        {
            color: #77869E !important;
            font-family: 'AvenirM' !important;
            margin-top: 0 !important;
        }
    }
}
 
.bottom-section
{
    margin-top: 10px;
    .btns-holder 
    {
        margin-top: 10px;
        padding: 8px 16px;
        ion-button
        {
            --background: #dfe7f5;
            --border-radius: 12px !important;
            --box-shadow: none;
            --color: #0047cc;
            height: 50px !important;
        }
    }
}