<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Detalle del Cliente</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab horizontal="end" vertical="bottom" *ngIf="phoneNumber" slot="fixed" (click)="openWhatsapp()" >
    <ion-fab-button color="success" >
      <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab horizontal="start" vertical="bottom" *ngIf="phoneNumber" slot="fixed" (click)="openCall()" >
    <ion-fab-button color="secondary">
      <ion-icon name="call"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="background-holder"></div>
  <div class="top-card ion-text-center ion-padding-vertical" *ngIf="customer; else loading">
    <div class="img-holder">
      <ion-avatar>
        <text-avatar [text]="customer.name"></text-avatar>
      </ion-avatar>
    </div>
    <div class="details">
      <h5>{{customer.name}} {{customer.lastName}}</h5>
      <p>{{customer.address}}</p>
    </div>
  </div>


  <div class="details" style="margin-top: 30px;">
    <!-- <div class="the-title ion-padding-horizontal">
      <h3>Información</h3>
    </div> -->
   
    <div class="segments-holder">
      <ion-segment (ionChange)="segmentChanged($event)" [value]="type" [(ngModel)]="type">
        <ion-segment-button value="loansInformation">
          <ion-label>Préstamos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="customerInformation">
          <ion-label>Datos Personales</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div class="list-holder ion-padding-horizontal">
      <div class="the-list" *ngIf="type == 'loansInformation'">
        <!-- <ng-container *ngIf="!sales || sales.length == 0">
          <div class="ion-text-center">
            El cliente no tiene préstamos asociados.
          </div>
        </ng-container> -->

        <ng-container *ngIf="sales && sales.length > 0">
          <ion-item-sliding *ngFor="let sale of sales" class="loan-item">

            <ion-item lines="none">
              <div class="thumb" slot="start">
                <img src="assets/imgs/Bill.svg" alt="">
              </div>
              <ion-label>
                <h4>Estado: {{sale.estado}}</h4>
                <p>Monto: {{sale.amount | currency :'$':'symbol':'1.2-2'}}</p>
                <p>Cuotas: {{sale.numeroCuotas}} x {{sale.montoCuota}} </p>
              </ion-label>
              <div slot="end"   style="margin-left: 3px;">
                <!-- <ion-row class="bottom-section" >
                  <ion-col class="btns-holder">
                    <ion-button [disabled]="customerForm.invalid"  ype="submit" expand="block">
                      Ver más
                    </ion-button>
                  </ion-col>
                </ion-row> -->

                <ion-button style="height: 35px;" *ngIf="roleAutorization.canReadSale(authSvc.getLoggedUser())" (click)="goSaleDetail(sale)"  fill="clear" slot="end">Ver más</ion-button> 
              </div>
            </ion-item>
  
            <ion-item-options side="end" *ngIf="roleAutorization.canDeleteSale(authSvc.getLoggedUser())" >
              <ion-item-option color="danger"  (click)="deleteSaleConfirm(sale)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
  
          </ion-item-sliding> 
        </ng-container>

      </div>

      <div class="the-list" *ngIf="type == 'customerInformation'">
        <form  class="new-customer-page"
        [formGroup]="customerForm" 
        (ngSubmit)="updateCustomer()">
          <ion-list-header class="ios hydrated">
            Información Personal
          </ion-list-header>

          <ion-item>
            <ion-label position="floating" color="primary">Nombre: </ion-label>
            <ion-input type="text"  formControlName="name"></ion-input>
            <ion-icon size="small" name="person-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.name">
              <div class="error-message ion-padding-start" *ngIf="customerForm.get('name').hasError(validation.type) && (customerForm.get('name').dirty || customerForm.get('name').touched)">
                {{validation.message}} 
              </div>
            </ng-container>
          </div>
        
          <ion-item>
            <ion-label position="floating" color="primary">Apellido: </ion-label>
            <ion-input type="text"  formControlName="lastName"></ion-input>
            <ion-icon size="small" name="person-circle-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.lastName">
              <div class="error-message ion-padding-start" *ngIf="customerForm.get('lastName').hasError(validation.type) && (customerForm.get('lastName').dirty || customerForm.get('lastName').touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </div>
        
          <ion-item>
            <ion-label position="floating" color="primary">Cédula: </ion-label>
            <ion-input type="number"  formControlName="document"></ion-input>
            <ion-icon size="small" name="wallet-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.document">
              <div class="error-message ion-padding-start" *ngIf="customerForm.get('document').hasError(validation.type) && (customerForm.get('document').dirty || customerForm.get('document').touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </div>
        
          <ion-list-header class="ios hydrated">
            Datos de Contacto
          </ion-list-header>
        
          <ion-item>
            <ion-label position="floating" color="primary">Celular: </ion-label>
            <ion-input type="tel"  [ionMask]="mask" placeholder="(598) 95 555 555" formControlName="phoneNumber"></ion-input>
            <ion-icon size="small" name="phone-portrait-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.phoneNumber">
              <div class="error-message ion-padding-start" *ngIf="customerForm.get('phoneNumber').hasError(validation.type) && (customerForm.get('phoneNumber').dirty || customerForm.get('phoneNumber').touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </div>
        
          <ion-item>
            <ion-label position="floating" color="primary">Dirección: </ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
            <ion-icon size="small" name="map-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.address">
              <div class="error-message ion-padding-start" *ngIf="customerForm.get('address').hasError(validation.type) && (customerForm.get('address').dirty || customerForm.get('address').touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </div>
        
    
        
          <ion-item>
            <ion-label position="floating" color="primary">Referencia: </ion-label>
            <ion-input type="text" formControlName="reference"></ion-input>
            <ion-icon size="small" name="reader-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.reference">
              <div class="error-message ion-padding-start" *ngIf="customerForm.get('reference').hasError(validation.type) && (customerForm.get('reference').dirty || customerForm.get('reference').touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </div>

          <ion-item *ngIf="roleAutorization.canEditCustomerVendor(authSvc.getLoggedUser())" >
            <ion-label>Seleccionar Cobrador</ion-label>
            <ion-select mode="ios" okText="Seleccionar" cancelText="Cancelar" formControlName="cobradorId">
              <ion-select-option value="null">Sin cobrador</ion-select-option>
              <ion-select-option *ngFor="let cobrador of cobradores" value="{{cobrador.uid}}">{{cobrador.displayName || cobrador.email}} </ion-select-option>
            </ion-select>
          </ion-item>

          <div class="bottom-section" *ngIf="roleAutorization.canEditCustomer(authSvc.getLoggedUser())">
            <ion-row>
              <ion-col class="btns-holder">
                <ion-button [disabled]="customerForm.invalid"  type="submit" expand="block">
                  Actualizar
                </ion-button>
              </ion-col>
            </ion-row>
          </div>
        
        </form>
      </div>
    </div>
   
  </div>

</ion-content>

<ng-template #loading>
  <ion-progress-bar color="secondary" type="indeterminate"></ion-progress-bar>
  <app-skeleton></app-skeleton>
</ng-template>