<ion-header class="ion-no-border" >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reporte Préstamos Pendiente</ion-title>
    <ion-buttons  slot="end">
      <ion-button (click)="dismissModal(false)" >
        Volver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="section">
    <div class="section-title">
      <h4>Desde <strong>{{from}}</strong>  hasta <strong>{{to}}</strong></h4>
    </div>
    <div class="the-list" *ngIf="prestamos">
      <ion-item *ngFor="let prestamo of prestamos">
        <ion-avatar slot="start">
          <text-avatar [text]="prestamo.name"></text-avatar>
        </ion-avatar>
        <ion-label>
          <h5 class="ion-text-wrap">Cliente <span class="person">{{prestamo.name }} {{prestamo.lastName }}</span>
            <br> Monto  <span class="amount"> {{prestamo.sale.amount  | currency:'$' : 'symbol' : '1.0-0'}}</span>  </h5>
            <p>Creado el  {{prestamo.sale.createdAt }} </p>
            <p> Vence el {{prestamo.sale.vencimiento }}</p>
            <h5> Estado  <span class="amount"> {{prestamo.sale.estado}}</span>  </h5>
        </ion-label>
      </ion-item>

    </div>

    <div class="section-title" style="margin-top:10px">
      <h4>Monto Total &nbsp;  {{montoTotal  | currency:'$' : 'symbol' : '1.0-0'}}   </h4>
    </div>
  </div>
</ion-content>

 