ion-toolbar {
    --border-width: 0;
    --background: #0047CC !important;
    --color: white !important;

}

ion-content{
    --background: #e6e6e6!important;
}

.expense-form-edit {
    margin-left: 12px;
    margin-right: 12px;
    --background: #e6e6e6!important;

}

.bottom-section
{
    margin-top: 10px;
    .btns-holder 
    {
        margin-top: 10px;
        padding: 8px 16px;
        ion-button
        {
            --background: #dfe7f5;
            --border-radius: 12px !important;
            --box-shadow: none;
            --color: #0047cc;
            height: 50px !important;
        }
    }
}