<!-- <ion-header>
  <ion-toolbar>
    <ion-title>newSale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)"  [(ngModel)]="type">
      <ion-segment-button value="newCustomer">
        <ion-label>Cliente Nuevo</ion-label>
      </ion-segment-button>
      <ion-segment-button value="registeredCustomer">
        <ion-label>Cliente Registrado</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'newCustomer'">
      <ion-item>
        <app-new-customer></app-new-customer>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'registeredCustomer'">
      <ion-item>
        <h1>Ir directo a la venta</h1>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<!-- <ion-footer text-center>
  <ion-button expand="full" shape="round" fill="outline">Registrar Venta</ion-button>
</ion-footer> -->