<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo Préstamo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Seleccionar Cliente</ion-label>
    <ion-select okText="Seleccionar" cancelText="Cancelar" [(ngModel)]="customerId">
      <ion-select-option *ngFor="let customer of customers" value="{{customer.id}}">{{customer.name + ' ' + customer.lastName}} </ion-select-option>
    </ion-select>
</ion-item>

<form 
[formGroup]="saleForm" 
(ngSubmit)="registerSale(saleForm.value)">
  <ion-item>
    <ion-label>Monto: </ion-label>
    <ion-input type="number"  formControlName="amount"></ion-input>
    <ion-icon size="small" name="cash-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.amount">
      <div *ngIf="saleForm.get('amount').hasError(validation.type) && (saleForm.get('amount').dirty || saleForm.get('amount').touched)">
        {{validation.message}}
      </div>
    </ng-container>
  </div>

  <ion-item>
    <ion-label>% Interés: </ion-label>
    <ion-input type="number"  formControlName="rate"></ion-input>
    <ion-icon size="small" name="wallet-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.rate">
      <div *ngIf="saleForm.get('rate').hasError(validation.type) && (saleForm.get('rate').dirty || saleForm.get('rate').touched)">
        {{validation.message}}
      </div>
    </ng-container>
  </div>

  <ion-item>
    <ion-label>Número de cuotas: </ion-label>
    <ion-input type="number"  formControlName="numeroCuotas"></ion-input>
    <ion-icon size="small" name="sync-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.numeroCuotas">
      <div *ngIf="saleForm.get('numeroCuotas').hasError(validation.type) && (saleForm.get('numeroCuotas').dirty || saleForm.get('numeroCuotas').touched)">
        {{validation.message}}
      </div>
    </ng-container>
  </div>

  <ion-item>
    <ion-label>Monto de la Cuota: </ion-label>
    <ion-input type="text" [value]="montoCuota" formControlName="montoCuota" ></ion-input>
    <ion-icon size="small" name="card-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
  </ion-item>

  <div class="ion-text-center">
    <ion-button [disabled]="saleForm.invalid || !customerId" expand="round" type="submit">Registrar Préstamo</ion-button>
  </div>
</form>

</ion-content>

