<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="customer-page" *ngIf="roleAutorization.canReadCustomer(authSvc.getLoggedUser())">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <div class="background-holder"></div>

  <ng-container *ngIf="customers$ | async; else loading; let customers">

    <div class="top-card ion-text-center ion-padding-vertical">
      <div class="img-holder">
        <ion-avatar>
          <img src="assets/imgs/badge3.svg" alt="">
        </ion-avatar>
      </div>
      <div class="details">
        <h5> {{customers.length}}<span> &nbsp;<img src="assets/imgs/verified.svg" alt=""></span> </h5>
        <p>Mis Clientes</p>
      </div>
    </div>

    <div class="send-money">
      <div class="the-title  ion-padding-horizontal">
        <h3>Clientes</h3>
      </div>
      <!-- <div class="contact-holder  ion-padding-horizontal" scrollX="true">
        <div class="recip-card ion-text-center" *ngFor="let customer of customers" (click)="goCustomerDetail(customer)">
          <ion-avatar>
            <text-avatar [text]="customer.name"></text-avatar>
          </ion-avatar>

          <p class="ion-text-wrap">
            {{ customer.name }} <br> {{ customer.lastName }}
          </p>
        </div>
      </div> -->
    </div>
  </ng-container>

  <div class="bottom-section">
    <ion-row class="btns-holder">
    </ion-row>

    <div class="details">
      <!-- <div style="margin-top: 10px"  class="the-title ion-padding-horizontal">
        <h3>Clientes</h3>
      </div>
      -->
      <div class="list-holder ion-padding-horizontal">
        <div class="the-list" *ngIf="customers$ | async; else loading; let customers">

          <ion-item-sliding  *ngFor="let customer of customers">
      
              <ion-item lines="none"  (click)="goCustomerDetail(customer)">
      
                <div class="thumb" slot="start" class="ion-text-center">
                  <ion-avatar style="margin-top: 15px;">
                    <text-avatar [text]="customer.name"></text-avatar>
                  </ion-avatar>
                </div>
      
                <ion-label>
                  <h4>{{ customer.name }} {{ customer.lastName }}</h4>
                  <p> {{customer.address}}</p>
                </ion-label>
      
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      
              </ion-item>
      
              <ion-item-options    *ngIf="roleAutorization.canDeleteCustomer(authSvc.getLoggedUser())">
                <ion-item-option (click)="deleteCustomer(customer)" color="danger" style="border-radius: 5px;">
                  <ion-icon slot="bottom" name="close-circle-outline"></ion-icon>
                  Eliminar
                </ion-item-option>
              </ion-item-options>
              
            </ion-item-sliding>
      
        </div>
      </div>
     
    </div>
  </div>

</ion-content>


<ng-template #loading>
  <ion-progress-bar color="secondary" type="indeterminate"></ion-progress-bar>
  <app-skeleton></app-skeleton>
</ng-template>