<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="customer-page" *ngIf="roleAutorization.canReadCustomer(authSvc.getLoggedUser())">

  <div class="background-holder"></div>

  <ng-container *ngIf="customers$ | async; else loading; let customers">

    <div class="top-card ion-text-center ion-padding-vertical">
      <div class="img-holder">
        <ion-avatar>
          <img src="assets/imgs/badge3.svg" alt="">
        </ion-avatar>
      </div>
      <div class="details">
        <h5> {{customers.length}}<span> &nbsp;<img src="assets/imgs/verified.svg" alt=""></span> </h5>
        <p>Total Clientes</p>
      </div>
    </div>

    <div class="send-money">
      <div class="the-title  ion-padding-horizontal">
        <h3>Clientes</h3>
      </div>
      <div class="contact-holder  ion-padding-horizontal" scrollX="true">
        <div class="recip-card ion-text-center" *ngFor="let customer of customers" (click)="goCustomerDetail(customer)">
          <ion-avatar>
            <text-avatar [text]="customer.name"></text-avatar>
          </ion-avatar>

          <p class="ion-text-wrap">
            {{ customer.name }} <br> {{ customer.lastName }}
          </p>
        </div>
      </div>
    </div>
  </ng-container>

</ion-content>


<ng-template #loading>
  <ion-progress-bar color="secondary" type="indeterminate"></ion-progress-bar>
  <app-skeleton></app-skeleton>
</ng-template>