<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Detalle de Préstamo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="roleAutorization.canEditSale(authSvc.getLoggedUser())" slot="end">
      <ion-button (click)="editSaleDetail(sale)"  color="primary">
        Editar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="sale-detail-page">
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  
    <app-skeleton *ngIf="loading"></app-skeleton>

    <ion-card *ngIf="sale">
      <ion-card-header>
        <ion-card-subtitle><ion-badge color="primary">{{sale.estado}}</ion-badge></ion-card-subtitle>
        <ion-card-title>{{sale.amount | currency:'$'}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-label>
          <h3>Saldo Pendiente: {{sale.saldo | currency:'$'}}</h3>
          <h3>Cuotas Pendientes: {{sale.cuotasPendientes | number}}</h3>
          <h3>Cuotas Pagadas: {{sale.cuotasPagadas | number}}</h3>
          <h3>Interés: {{sale.porcentaje | currency:'%'}}</h3>
          <h3>Número de cuotas: {{sale.numeroCuotas}}</h3>
          <h3>Monto de la Cuota: {{sale.montoCuota}}</h3>
          <h3>Creado: {{sale.createdAt}}</h3>
          <h3>Vencimiento: {{sale.vencimiento}}</h3>
        </ion-label>
      </ion-card-content>
    </ion-card>

    <ion-list>
      <ion-list-header lines="inset">
        <ion-label>Abonos</ion-label>
        <ion-button *ngIf="roleAutorization.canCreateAbono(authSvc.getLoggedUser())" (click)="agregarAbono(sale.montoCuota)" fill="outline">Abonar</ion-button>
      </ion-list-header>
      <ng-container *ngIf="sale &&  sale.abonos.length > 0">
        <ion-item-sliding  lines="inset" *ngFor="let abono of sale.abonos;let indexOfelement=index;">
          <ion-item>
            <ion-label>
              <h2>Monto: {{abono.monto}}</h2>
              <h3>Creado: {{abono.createdAt}}</h3>
              <h3 *ngIf="abono.updated">Modificado: {{abono.updated}}</h3>
              <p *ngIf="abono.note"> Nota: {{abono.note}}</p>        
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="primary" *ngIf="roleAutorization.canEditAbono(authSvc.getLoggedUser())"  (click)="editarAbono(indexOfelement)">
              <ion-icon slot="icon-only" name="pencil"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger" *ngIf="roleAutorization.canDeleteAbono(authSvc.getLoggedUser())"  (click)="confirmDelete(indexOfelement)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
  
      </ng-container>

    </ion-list>

</ion-content>


 