<ion-header>
  <ion-toolbar>
    <ion-title>Detalle de Préstamo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="sale-detail-page">
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  
    <app-skeleton *ngIf="loading"></app-skeleton>

    <form 
    [formGroup]="saleForm" 
    (ngSubmit)="pdateSaleConfirm(saleForm.value)">

    <ion-item>
      <ion-label>Estado: </ion-label>
      <ion-input type="text"  formControlName="state" ></ion-input>
      <ion-icon size="small" name="shield-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Fecha del préstamo: </ion-label>
      <ion-input type="text" [value]="saleForm.get('createdAt').value | date: 'medium'" formControlName="createdAt" ></ion-input>
      <ion-icon size="small" name="calendar-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
    </ion-item>

    <!-- <ion-item>
      <ion-label>Fecha de Vencimiento: </ion-label>
      <ion-input type="text"  formControlName="vencimiento" ></ion-input>
      <ion-icon size="small" name="calendar-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
    </ion-item> -->

      <ion-item>
        <ion-label>Monto: </ion-label>
        <ion-input type="number"  formControlName="amount"></ion-input>
        <ion-icon size="small" name="cash-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.amount">
          <div *ngIf="saleForm.get('amount').hasError(validation.type) && (saleForm.get('amount').dirty || saleForm.get('amount').touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label>% Interés: </ion-label>
        <ion-input type="number"  formControlName="rate"></ion-input>
        <ion-icon size="small" name="wallet-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.rate">
          <div *ngIf="saleForm.get('rate').hasError(validation.type) && (saleForm.get('rate').dirty || saleForm.get('rate').touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label>Número de cuotas: </ion-label>
        <ion-input type="number"  formControlName="numeroCuotas"></ion-input>
        <ion-icon size="small" name="sync-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.numeroCuotas">
          <div *ngIf="saleForm.get('numeroCuotas').hasError(validation.type) && (saleForm.get('numeroCuotas').dirty || saleForm.get('numeroCuotas').touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label>Monto de la Cuota: </ion-label>
        <ion-input type="text" [value]="montoCuota"  formControlName="fee" ></ion-input>
        <ion-icon size="small" name="card-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
      </ion-item>

      <div class="ion-text-center">
        <ion-button [disabled]="saleForm.invalid || !saleId" expand="round" type="submit">Actualizar</ion-button>
      </div>
    </form>

</ion-content>
