<ion-header>
  <ion-toolbar>
    <ion-title>Detalle de Préstamo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="editSaleDetail(sale)"  color="primary">
        Editar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="sale-detail-page">
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  
    <app-skeleton *ngIf="loading"></app-skeleton>

    <ion-card *ngIf="sale">
      <ion-card-header>
        <ion-card-subtitle><ion-badge color="primary">{{sale.state}}</ion-badge></ion-card-subtitle>
        <ion-card-title>{{sale.amount | currency:'$'}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-label>
          <h3>Interés: {{sale.rate | currency:'%'}}</h3>
          <h3>Número de cuotas: {{sale.numeroCuotas}}</h3>
          <h3>Monto de la Cuota: {{sale.fee}}</h3>
          <h3>Creado: {{sale.createdAt}}</h3>
          <h3>Vencimiento: {{sale.vencimiento}}</h3>
        </ion-label>
      </ion-card-content>
    </ion-card>

    <!-- <form 
    [formGroup]="saleForm" 
    (ngSubmit)="pdateSaleConfirm(saleForm.value)">

    <ion-list-header lines="inset">
      <ion-label>Préstamo</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Estado: </ion-label>
      <ion-input type="text"  formControlName="state" ></ion-input>
      <ion-icon size="small" name="shield-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Creado: </ion-label>
      <ion-input type="text" formControlName="createdAt" ></ion-input>
      <ion-icon size="small" name="calendar-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Vencimiento: </ion-label>
      <ion-input type="text"  formControlName="vencimiento" ></ion-input>
      <ion-icon size="small" name="calendar-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
    </ion-item>

      <ion-item>
        <ion-label>Monto: </ion-label>
        <ion-input type="number"  formControlName="amount"></ion-input>
        <ion-icon size="small" name="cash-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.amount">
          <div *ngIf="saleForm.get('amount').hasError(validation.type) && (saleForm.get('amount').dirty || saleForm.get('amount').touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label>% Interés: </ion-label>
        <ion-input type="number"  formControlName="rate"></ion-input>
        <ion-icon size="small" name="wallet-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.rate">
          <div *ngIf="saleForm.get('rate').hasError(validation.type) && (saleForm.get('rate').dirty || saleForm.get('rate').touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label>Número de cuotas: </ion-label>
        <ion-input type="number"  formControlName="numeroCuotas"></ion-input>
        <ion-icon size="small" name="sync-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.numeroCuotas">
          <div *ngIf="saleForm.get('numeroCuotas').hasError(validation.type) && (saleForm.get('numeroCuotas').dirty || saleForm.get('numeroCuotas').touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label>Monto de la Cuota: </ion-label>
        <ion-input type="text" [value]="montoCuota"  formControlName="fee" ></ion-input>
        <ion-icon size="small" name="card-outline" color="primary" slot="end" class="ion-align-self-center"></ion-icon>
      </ion-item>

      <div class="ion-text-center">
        <ion-button [disabled]="saleForm.invalid || !saleId" expand="round" type="submit">Actualizar</ion-button>
      </div>
    </form> -->

    <ion-list>
      <ion-list-header lines="inset">
        <ion-label>Abonos</ion-label>
        <ion-button (click)="agregarAbono(sale.fee)" fill="outline">Abonar</ion-button>
      </ion-list-header>
      <ng-container *ngIf="sale &&  sale.abonos.length > 0">
        <ion-item-sliding  lines="inset" *ngFor="let abono of sale.abonos;let indexOfelement=index;">
          <ion-item>
            <ion-label>
              <h2>Monto: {{abono.monto}}</h2>
              <h3>Creado: {{abono.createAt}}</h3>
              <h3 *ngIf="abono.updated">Modificado: {{abono.updated}}</h3>
              <p *ngIf="abono.note"> Nota: {{abono.note}}</p>        
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="primary"  (click)="editarAbono(indexOfelement)">
              <ion-icon slot="icon-only" name="pencil"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger"  (click)="confirmDelete(indexOfelement)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
  
      </ng-container>

    </ion-list>

</ion-content>


 