<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-segment  value="sunny">
      <ion-segment-button value="sunny">
        <ion-label>Cliente Nuevo</ion-label>
      </ion-segment-button>
      <ion-segment-button value="rainy">
        <ion-label>Cliente Registrado</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header> -->
</ion-content>
