<ion-content class="ion-padding">
  <ion-grid style="height: 100%">
    <ion-row class="ion-justify-content-center ion-align-items-center " style="height: 100%">
      <div class="holder">
        <div class="the-title">
          <h2>Bienvenido Iniciar Sesión</h2>
        </div>
        <div class="btns-holder">
          <ion-row>
            <!-- <ion-col>
              <ion-button fill="none">
                <img src="assets/imgs/facebook.svg" alt="" (click)="onLoginGoogle()">
              </ion-button>
            </ion-col> -->
            <ion-col>
              <ion-button fill="none" (click)="onLoginGoogle()" style="width: 50%;">
                <img src="assets/imgs/google.svg" alt="">
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
          <div class="details">
            <div class="detail-item">
              <ion-label>Correo</ion-label>
              <ion-item>
                <span class="icn-holder" slot="end" *ngIf="!loginForm.get('email').invalid">
                  <ion-icon name="checkmark-circle"></ion-icon>
                </span>
                <ion-input formControlName="email" class="email" type="email" placeholder="Ingresar correo"> </ion-input>
              </ion-item>

              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.email">
                  <div class="error-message"
                    *ngIf="loginForm.get('email').hasError(error.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                    {{error.message}}
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="detail-item">
              <ion-label>Contraseña</ion-label>
              <ion-item>
                <span class="icn-holder" slot="end" *ngIf="!loginForm.get('password').invalid">
                  <ion-icon name="checkmark-circle"></ion-icon>
                </span>
                <ion-input class="password" placeholder="Ingresar contraseña" formControlName="password"> </ion-input>
              </ion-item>
            </div>


            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.password">
                <div class="error-message"
                  *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                  {{error.message}}
                </div>
              </ng-container>
            </div>

            <div>
              <ion-row>
                <ion-col>
                  <ion-item lines="none" id="remember-holder" class="ion-no-padding">
                    <ion-label>Recuérdame</ion-label>
                    <ion-checkbox mode="ios" slot="start"></ion-checkbox>
                  </ion-item>
                </ion-col>
                <ion-col class="col-forgot ion-text-right" (click)="goForgotPassword()">
                  <p>Olvidé mi contraseña</p>
                </ion-col>
              </ion-row>
            </div>

          </div>
          <div class="btn-holder">
            <ion-button expand="block" type="submit" routerDirection="root" [disabled]="loginForm.invalid">
              Iniciar Sesión
            </ion-button>
          </div>

        </form>
        <div class="signup-holder ion-text-center">
          <p> No tienes una cuenta?&nbsp;<span (click)="goSignup()">Regístrate</span></p>
        </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
