<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="primary" (click)="goLogin()">
        Saltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="max-height: 91%;">
  <div class="intro-img-holder ion-text-center animated fadeInUp delay-2s">
    <img src="assets/imgs/phone.svg" alt="">
  </div>

  <div class="bottom-holder absolute">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <div class="slide-content ion-text-center ion-padding-horizontal">
          <h4 class="ion-text-wrap">Seguimiento del estado de tu Ruta</h4>
          <p class="ion-text-wrap">Obtén un visión en tiempo real del trabajo diario.</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide-content ion-text-center ion-padding-horizontal">
          <h4 class="ion-text-wrap">Administración de clientes</h4>
          <p class="ion-text-wrap">Maneja la información de tus clientes y ponte en contacto con ellos fácilmente</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide-content ion-text-center ion-padding-horizontal">
          <h4 class="ion-text-wrap">Control de gastos</h4>
          <p class="ion-text-wrap">Gestiona fácilmente los gastos con tu móvil.</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide-content ion-text-center ion-padding-horizontal">
          <h4 class="ion-text-wrap">Visión global </h4>
          <p class="ion-text-wrap">Con nuestros reportes tendrás una visión global del negocio.</p>
        </div>
      </ion-slide>
    </ion-slides>
    <div class="btns-holder" paddding-horizontal text-center>
      <ion-button (click)="goLogin()">
        Iniciar Sesión
      </ion-button>
      <ion-button id="signup" fill="none" (click)="goSignup()">
        Regístrate
      </ion-button>
    </div>
  </div>
</ion-content>

 