<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="expenses-page" *ngIf="roleAutorization.canReadExpense(authSvc.getLoggedUser())">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <div class="background-holder"></div>

  <ng-container *ngIf="expenses$ | async; else loading; let expenses">

    <div class="top-card ion-text-center ion-padding-vertical">
      <div class="img-holder">
        <ion-avatar>
          <img src="assets/imgs/category-icons/addexpense.svg" alt="">
        </ion-avatar>
      </div>
      <div class="details">
        <h5> {{gastosDelDia | currency :'$':'symbol':'1.2-2'}}</h5>
        <p>Gastos del día</p>
      </div>
    </div>

    <div class="ion-text-center" style="margin-top: 40px;"  *ngIf="expenses.length === 0" >
      <ion-icon color="medium" style="font-size: 55px;" name="heart-dislike-outline"></ion-icon>
      <p class="ion-text-wrap" style="color: #92949c !important;">No hay resultados para mostrar</p>
    </div>

    <div class="send-money"  *ngIf="expenses.length > 0" >
      <div class="the-title  ion-padding-horizontal">
        <h3>Gastos</h3>
      </div>
      <div class="contact-holder  ion-padding-horizontal" scrollX="true">         
          <ion-item-sliding  *ngFor="let expense of expenses">

            <ion-item (click)="goExpenseDetail(expense)" lines="none" style="margin: 5px 0 !important;">
              <ion-label>
                <ion-text>
                  <h3>{{ expense.concept }} </h3>
                </ion-text>
        
                <p>{{ expense.amount }}</p>
              </ion-label>
              <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" style="margin: 5px 0 !important;" *ngIf="roleAutorization.canDeleteExpense(authSvc.getLoggedUser())" (click)="deleteExpense(expense)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </div>
    </div>
  </ng-container>

</ion-content>




<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Gastos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="roleAutorization.canReadExpense(authSvc.getLoggedUser())" >

    <ng-container *ngIf="expenses$ | async; else loading; let expenses">
      <ion-item-sliding  *ngFor="let expense of expenses">
        <ion-item (click)="goExpenseDetail(expense)">
          <ion-label>
            <ion-text>
              <h3>{{ expense.concept }} </h3>
            </ion-text>
    
            <p>{{ expense.amount }}</p>
          </ion-label>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" *ngIf="roleAutorization.canDeleteExpense(authSvc.getLoggedUser())" (click)="deleteExpense(expense)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>

  </ion-list>

  <ion-item-divider *ngIf="expenses$ | async; let expenses">
    <ion-label>
      Gastos del día: {{gastosDelDia | currency :'$':'symbol':'1.2-2'}}  
    </ion-label>
  </ion-item-divider>

</ion-content> -->

<ng-template #loading>
  <ion-progress-bar color="secondary" type="indeterminate"></ion-progress-bar>
  <app-skeleton></app-skeleton>
</ng-template>