<ion-header>
  <ion-toolbar>
    <ion-title>Gastos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center"  *ngIf="loading">
    Cargando...
  </div>
  <ion-list *ngIf="!loading">
    <ion-item-sliding  *ngFor="let expense of expenses">
      <ion-item (click)="goExpenseDetail(expense)">
        <ion-label>
          <ion-text>
            <h3>{{ expense.concept }} </h3>
          </ion-text>
  
          <p>{{ expense.amount }}</p>
        </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger"  (click)="deleteExpense(expense)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <div class="ion-text-center"  *ngIf="!loading">
    <ion-button *ngIf="!loading"  (click)="createExpense()" expand="round">Cargar Gasto</ion-button>
  </div>
</ion-content>
